body {
    margin: 0;
    background-color: beige; 
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: beige;
    width: 100%;
    
}

@media (max-width: 1000px) {
    #navbar ul {
       flex-wrap:wrap;
       justify-content: center;
       line-height: 2;
    }
}

#navbar ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: left;
}

#projects {
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black
}

#navbar li a {
    margin: 0px 15px;
    padding: 5px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    border: 2px solid black;
}

#navbar li a:hover {
    background-color: blueviolet;
    color: white;
}
#navbar li a:active {
    background-color: darkslateblue;
    color: white;
}
.banner-text {
    text-align: center;
}

.picbanner {
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2.1em;
    color: black;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid darkslateblue;
}

.content {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 800px;
    border: 5px blueviolet solid;
    background-color: yellow;
}

.content h2 {
    font-size: 2em;
    color: black;
    font-family: Courier, monospace;
}

.content p {
    font-size: 1.2em;
    line-height: 1.5;
    color: darkslategray;
    font-family: monospace;
}
.content a {
    color: blueviolet;
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}
.content a:active {
    color: darkslateblue;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: beige;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

